<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% title_slug %}</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <header>
        <h1>
            <a href="/" rel="home">Joe Gurr</a>
        </h1>
    </header>
    <main>
        <article>
            <header>
				<h2>{% title %}</h2>
				<time date="{% YYYY-MM-DD %}">{% Month YYYY %}</time>
            </header>
            <div>
                <p>
                    <span style="color: grey">
						"{% quote %}"
                    </span>
					<span>- {% attribution %}</span>
                </p>
            </div>
            <div>
				{% content %} 
            </div>
        </article>
    </main>
    <footer></footer>
</body>

</html>
